
  html{
    font-family: "Helvetica Neue","Arial",Sans-serif;
}


 .nav-color{
   background-color:grey;
   padding:20px;
  }
  .brandStyle{
    font-family:'McLaren',cursive;
    font-weight:bold;
  }
